# Dependency directory
node_modules

# Ignore built ts files
dist

# Lock files
pnpm-lock.yaml
package-lock.json

# API keys and secrets
**/.env*
!**/.env*.example

# OS metadata
.DS_Store

# TS build info
tsconfig.tsbuildinfo


# Test coverage
__coverage
