# Dependency directory
node_modules

# Ignore built ts files
dist

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Lock files
pnpm-lock.yaml
package-lock.json

# API keys and secrets
**/.env*
!**/.env*.example

# OS metadata
.DS_Store

# TS build info
tsconfig.tsbuildinfo


# Tests
/coverage
/.nyc_output
__coverage
db.sqlite