{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "strict": true
    },
    "baseUrl": "./",
    "paths": {
      "#common/*": [
        "./src/common/*"
      ],
      "#category/*": [
        "./src/category/*"
      ]
    }
  }
}